.hero{
    position: relative;
    padding-bottom: 1rem;
}
.plate-wrapper{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.plate{
    width:120px;
    height: auto;
    padding: 1rem 0;
}
.plate-circle{
    background-color: var(--primary-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -1;
    border-radius: 0 0 50% 50%;
    transform: translate(0, -45%);
}
.hero-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
}
.hero-title{
    font-size: 3rem;
    text-align: center;
    max-width: 400px;
}
.hero-content > button{
    background-color: var(--black-color);
    color: white;
    padding: 0.75em 1em;
    border-radius: 20px;
    width: fit-content;
    border: 1px solid var(--black-color);
    transition: all;
    transition-duration: 300ms;
}
.papas-left{
    width: 180px;
    position: absolute;
    border-radius: 40%;
    bottom: 0;
    left: 0;
    z-index: 1;
    transform: rotate(25deg) translate(-10%, -10%);
}
.milanesa-right{
    width: 220px;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 1;
    transform: rotate(-25deg) translate(25%, 1%);
}

.palo{
    width: 150px;
    position: absolute;
    top: -10%;
}
.hero-button:hover {
    cursor: pointer;
    background: var(--primary-color);
    color: var(--black-color);
    border: 1px solid var(--black-color);
    scale: 1.025;
}

    .image-container {
        position: relative; 
        width: 100%; 
        height: 30vh; 
        background-color: #fff; 
        overflow: hidden;}